Repository BorisTsankov/HousingHelper: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend:build, backend:test, sonarqube-check

backend:build:
  before_script:
  ...

backend:test:
  before_script:
  ...

sonarqube-check:
  stage: sonarqube-check
  needs:
  - job: backend:test
    optional: true
  - job: frontend:test
    optional: true
  script:
  - echo "Replace with real Sonar steps (scanner, tokens, etc.)"

pipeline error
  .gitlab-ci.yml
Due: none

docker test for pipeline runner
  .gitlab-ci.yml
  back-end/Dockerfile
  docker-compose.yml
  front-end/Dockerfile
Due: backend:build, backend:test, sonarqube-check

docker runner for pipelines
  .gitlab-ci.yml
  .idea/data_source_mapping.xml
  back-end/Dockerfile
  front-end/Dockerfile
Due: backend:build, backend:test, sonarqube-check

yml fix of cache/kay/files
  .gitlab-ci.yml
Due: none

deploy staging optionals
  .gitlab-ci.yml
Due: none

make sure pipeline doesnt skip when a change wasnt made
  .gitlab-ci.yml
Due: none

folder name fix
  .gitlab-ci.yml
Due: none

more simple pipeline for testing
  .gitlab-ci.yml
Due: none

java version fix in pipeline
  .gitlab-ci.yml
Due: none

adding database for backend test to pipeline
  .gitlab-ci.yml
Due: none

sonar via docker
  .gitlab-ci.yml
  back-end/build.gradle
  docker-compose_SonarQube.yml
Due: backend:build, backend:test, sonarqube-check

text fix of build.gradle
  .gitlab-ci.yml
  back-end/build.gradle
Due: backend:build, backend:test, sonarqube-check

pipeline with sonar test
  .gitlab-ci.yml
  back-end/build.gradle
Due: backend:build, backend:test, sonarqube-check

pipeline
  .gitlab-ci.yml
  back-end/build.gradle
  back-end/src/test/resourses/application.properties
Due: backend:build, backend:test, sonarqube-check

misspelling fixed
  back-end/src/test/resources/application.properties
Due: none

separate back end and front end in sonar
  .gitlab-ci.yml
Due: none

pls
  .gitlab-ci.yml
Due: none

token fix
  .gitlab-ci.yml
Due: none

change in docker
  .gitlab-ci.yml
  config.toml
  docker-compose.yml
  docker-compose_SonarQube.yml
Due: none

checks
  .gitlab-ci.yml
Due: none

switched sonar to user tokens
  .gitlab-ci.yml
Due: none

no auth needed
  .gitlab-ci.yml
Due: none

switched /health to /status as health is for administrators
  .gitlab-ci.yml
Due: none

debug test
  .gitlab-ci.yml
Due: none

sonar checks
  .gitlab-ci.yml
Due: none

check project keys
  .gitlab-ci.yml
Due: none

token browse check
  .gitlab-ci.yml
Due: none

backend fix sonar
  .gitlab-ci.yml
Due: none

home page front end
  front-end/postcss.config.cjs
  front-end/src/ErrorBoundary.tsx
  front-end/src/components/gallery/PropertyCard.tsx
  front-end/src/components/gallery/PropertyGallery.tsx
  front-end/src/components/layout/Footer.tsx
  front-end/src/components/layout/Navbar.tsx
  front-end/src/components/layout/Page.tsx
  front-end/src/components/search/SearchBar.tsx
  front-end/src/components/search/SearchFilters.tsx
  front-end/src/components/ui/Button.tsx
  front-end/src/components/ui/Card.tsx
  front-end/src/components/ui/Container.tsx
  front-end/src/components/ui/Input.tsx
  front-end/src/components/ui/Section.tsx
  front-end/src/components/ui/Select.tsx
  front-end/src/index.css
  front-end/src/pages/Home.tsx
  front-end/src/types/property.ts
  front-end/tailwind.config.cjs
  front-end/tailwind.config.js
Due: sonarqube-check

missing lucide-react
  front-end/package-lock.json
  front-end/package.json
Due: sonarqube-check

pipeline front-end fix import type
  front-end/src/components/gallery/PropertyCard.tsx
  front-end/src/components/gallery/PropertyGallery.tsx
  front-end/src/components/layout/Page.tsx
  front-end/src/pages/Home.tsx
Due: none

import type for filters
  front-end/src/pages/Home.tsx
Due: none

wrongly importing select
  front-end/src/components/search/SearchFilters.tsx
  front-end/src/pages/Home.tsx
  front-end/src/types/filters.ts
Due: none

listing backend + display in home page
  back-end/settings.gradle
  back-end/src/main/java/nl/fontys/s3/back_end/controller/ListingController.java
  back-end/src/main/java/nl/fontys/s3/back_end/dto/PropertyDto.java
  back-end/src/main/java/nl/fontys/s3/back_end/mapper/PropertyMapper.java
  back-end/src/main/java/nl/fontys/s3/back_end/model/FurnishingType.java
  back-end/src/main/java/nl/fontys/s3/back_end/model/Listing.java
  back-end/src/main/java/nl/fontys/s3/back_end/model/ListingPhoto.java
  back-end/src/main/java/nl/fontys/s3/back_end/model/ListingPriceHistory.java
  back-end/src/main/java/nl/fontys/s3/back_end/model/ListingSource.java
  back-end/src/main/java/nl/fontys/s3/back_end/model/ListingStatus.java
  back-end/src/main/java/nl/fontys/s3/back_end/model/PropertyType.java
  back-end/src/main/java/nl/fontys/s3/back_end/model/RawListing.java
  back-end/src/main/java/nl/fontys/s3/back_end/model/RentPeriod.java
  back-end/src/main/java/nl/fontys/s3/back_end/repository/ListingRepository.java
  back-end/src/main/java/nl/fontys/s3/back_end/service/ListingService.java
  back-end/src/main/java/nl/fontys/s3/back_end/service/ListingServiceImpl.java
  back-end/src/main/resources/application.properties
  back-end/src/main/resources/db/migration/V2__listing_schema.sql
  back-end/src/main/resources/db/migration/V3__seeding_tables.sql
  back-end/src/main/resources/db/migration/V4__contact_email_hash_to_varchar.sql
  back-end/src/main/resources/db/migration/V5__phone_hash_to_varchar.sql
  back-end/src/main/resources/db/migration/V6__content_hash_to_varchat.sql
  back-end/src/main/resources/db/migration/V7__listingphoto_checksum_chartovarchar.sql
  back-end/src/main/resources/db/migration/V8__content_hash_to_char.sql
  front-end/src/pages/Home.tsx
Due: backend:build, backend:test, sonarqube-check

property card image is displayed properly from storage
  back-end/src/main/java/nl/fontys/s3/back_end/config/WebConfig.java
  back-end/src/main/resources/application.properties
  back-end/storage/uploads/images/example_house.jpg
  front-end/src/pages/Home.tsx
  front-end/vite.config.ts
Due: sonarqube-check

vitest implementation of PropertyCard
  .gitlab-ci.yml
  front-end/package-lock.json
  front-end/package.json
  front-end/src/tests/example.test.tsx
  front-end/src/tests/setup.ts
  front-end/vitest.config.ts
Due: sonarqube-check

no coverage file fix
  front-end/coverage/lcov-report/base.css
  front-end/coverage/lcov-report/block-navigation.js
  front-end/coverage/lcov-report/favicon.png
  front-end/coverage/lcov-report/index.html
  front-end/coverage/lcov-report/prettify.css
  front-end/coverage/lcov-report/prettify.js
  front-end/coverage/lcov-report/sort-arrow-sprite.png
  front-end/coverage/lcov-report/sorter.js
  front-end/coverage/lcov-report/src/App.tsx.html
  front-end/coverage/lcov-report/src/ErrorBoundary.tsx.html
  front-end/coverage/lcov-report/src/components/gallery/PropertyCard.tsx.html
  front-end/coverage/lcov-report/src/components/gallery/PropertyGallery.tsx.html
  front-end/coverage/lcov-report/src/components/gallery/index.html
  front-end/coverage/lcov-report/src/components/layout/Footer.tsx.html
  front-end/coverage/lcov-report/src/components/layout/Navbar.tsx.html
  front-end/coverage/lcov-report/src/components/layout/Page.tsx.html
  front-end/coverage/lcov-report/src/components/layout/index.html
  front-end/coverage/lcov-report/src/components/search/SearchBar.tsx.html
  front-end/coverage/lcov-report/src/components/search/SearchFilters.tsx.html
  front-end/coverage/lcov-report/src/components/search/index.html
  front-end/coverage/lcov-report/src/components/ui/Button.tsx.html
  front-end/coverage/lcov-report/src/components/ui/Card.tsx.html
  front-end/coverage/lcov-report/src/components/ui/Container.tsx.html
  front-end/coverage/lcov-report/src/components/ui/Input.tsx.html
  front-end/coverage/lcov-report/src/components/ui/Section.tsx.html
  front-end/coverage/lcov-report/src/components/ui/Select.tsx.html
  front-end/coverage/lcov-report/src/components/ui/index.html
  front-end/coverage/lcov-report/src/index.html
  front-end/coverage/lcov-report/src/pages/Home.tsx.html
  front-end/coverage/lcov-report/src/pages/Register.tsx.html
  front-end/coverage/lcov-report/src/pages/index.html
  front-end/coverage/lcov.info
  front-end/package.json
Due: sonarqube-check

Path conditions:
  backend:build: any of: back-end/**
  backend:test: any of: back-end/**
  sonarqube-check: any of: back-end/**, front-end/**
